<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CreateUserInfo</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/layuimini-2.0.6.1-iframe/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="Description" placeholder="请输入描述" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" placeholder="请输入名称" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">耗材类型</label>
    <div class="layui-input-block">
      <select id="categoryNameSelect" name="CategoryId" lay-filter="categoryname">
          <option></option>
      </select>
    </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">耗材规格</label>
        <div class="layui-input-block">
            <input type="text" name="Specification" placeholder="请输入耗材规格" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-block">
            <input type="text" name="Num" placeholder="请输入数量" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单位</label>
        <div class="layui-input-block">
            <input type="text" name="Unit" placeholder="请输入单位" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-block">
            <input type="text" name="Money" placeholder="请输入价格" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="~/lib/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

            $.ajax({
                url: 'QueryCategoryName',
                type: 'Get',
                success: function(res){
                    if(res.code === 200){
                        if(res.data.length > 0){
                            for(var i = 0;i < res.data.length;i++){
                                $('#categoryNameSelect').append('<option value="'+res.data[i].id +'">' + res.data[i].categoryName + '</option>')
                            }
                            form.render('select');
                        }
                    }
                }
            });

        //监听提交
        form.on('submit(saveBtn)', function (data) {

           $.ajax({
               url: 'Create',
               data: data.field,
               type: 'post',
               success: function (res) {
                   console.log(res);
                   if (res.code === 200) {
                       var index = layer.alert(res.msg, {
                           title: '提示'
                       }, function () {

                           // 关闭弹出层
                           layer.close(index);
                           var iframeIndex = parent.layer.getFrameIndex(window.name);
                           parent.layer.close(iframeIndex);

                           //刷新表格数据
                           parent.reLoadTable();
                       });
                   } else {
                       layer.alert(res.msg);
                   }
               }
           });
           return false;
        });
    });
</script>
</body>
</html>