<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UpdateDepartmentInfo</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/layuimini-2.0.6.1-iframe/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form" lay-filter="Review">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label required">ID</label>
            <div class="layui-input-block">
                <input type="text" name="ID" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">审批理由</label>
            <div class="layui-input-block">
                <input type="text" name="ReviewReason"   placeholder="请输入审批理由" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">审批</label>
            <div class="layui-input-block">
                <input type="radio" name="ReviewStatus" value="2" title="通过" checked="">
                <input type="radio" name="ReviewStatus" value="3" title="驳回">
            </div>
        </div>

        <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="~/lib/layui/layui.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

            if(parent.Id){
                form.val("Review", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                    "ID": parent.Id
                });
            }



        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var index = layer.alert('确定提交', {
                title: '提示'
            }, function () { 
                //请求服务器更新用户
                $.ajax({
                    url: 'Review',
                    data: data.field,
                    type: 'post',
                    success: function (res) {
                        if (res.code === 200) {
                            // 关闭弹出层
                            layer.msg(res.msg);
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            //调用父级页面的刷新方法
                            parent.reLoadTable();
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                });
            });
            return false;
        });
    });
</script>
</body>
</html>